.button-container {
  position: absolute;
  bottom: 0em;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  transform: translateY(-50%);
}

.button-container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
